.jumbotron {
    padding: 4rem 1rem;
    margin-bottom: 2rem;

    /* border-radius: .3rem; */
}

body {
    background-color: #222;
    color: rgb(228, 228, 228)!important;
}

.line-1{
    position: relative;
    top: 50%;  
    width: 20em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2s steps(50) 1s 1 normal both,
             blinkTextCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}

  to{width: 17.8em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 132, 255, 0.75);}
  to{border-right-color: transparent;}
}

.navbar {
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
}
